#container{
    max-width:1000px;
    margin:auto;
    min-height: calc(100vh - 16px);
    position:relative;
    max-height: 9001em;
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
}
#menu{
    position:relative;
    width:95%;
    margin-bottom:20px;
    margin-top:5px;
}

@media screen and (max-width: 800px) {
    .subcategory {
        clear:left;
    }
    #menu{
	font-size:1.5em;
    }

    #post{
        font-size:1.5em;
    }

    #header{
        font-size:1.5em;
    }

    #footer{
        font-size:1.5em;
    }

    .pagination{
        font-size:1.5em;
    }

    #sitename{
	top:-10px!important;
    }

    #linksocial{
        top:-10px!important;
    }

    #copyright{
        top:-10px!important;
    }
}

.category{
    position:relative;
    clear:left;
    font-weight: bold;
    margin-bottom:5px;
}

.subcategory{
    position:relative;
    float:left;
    margin-bottom:5px;
    margin-left:10px;
    margin-right:-5px;
}

#post{
    position:relative;
    text-align:justify;
    word-wrap: break-word;
    width:100%;
}

.pagination{
    position:relative;
    clear:left;
    bottom:3px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

#header{
    height:50px;
    background-color:black;
    position:relative;
}

#footer{
    height:50px;
    background-color:black;
    position:relative;
    clear:left;
    bottom:0px;
    width:100%;
}

#sitename {
    height:10px;
    width:min-content;
    top:5px;
    left:20px;
    position:relative;
    float:left;
}

#sitename a{
    color:white;
    white-space:nowrap;
}

#linksocial {
    height:10px;
    width:min-content;
    top:5px;
    right:20px;
    position:relative;
    float:right;
}

#linksocial a{
    color:white;
    white-space:nowrap;
}

#copyright {
    height:10px;
    width:min-content;
    top:5px;
    right:20px;
    position:relative;
    float:right;
}

#copyright a{
    color:white;
    white-space:nowrap;
}

a:link {
    color:black;
}

a:visited {
    color:black;
}

a:hover {
    color:#0ad106;
}

a:active {
    color:#0ad106;
}

#title {
    font-weight:bold;
}

.title {
    font-weight:bold;
}

.date_post {
    font-style:italic;
    text-align: right;
}

#post img{
    max-width: 100%;
    height: auto;
    max-height:100%;
}